# ==========================================
# CONFIGURAÇÕES DE AMBIENTE (SECREDOS)
# ==========================================

# --- IDENTIFICAÇÃO DO PROJETO ---
# Isso prefixa seus containers (ex: supergestao-db)
COMPOSE_PROJECT_NAME=supergestao

# --- BANCO DE DADOS (PostgreSQL) ---
DB_USER=informar o user do banco de dados, ex: supergestao_db_master
DB_PASSWORD=informar a senha do banco de dados, ex: supergestao_db_master
DB_NAME=informar o nome do banco de dados, ex: supergestao_db_master

# --- CACHE (Redis) ---
# O Redis geralmente não exige user/pass na imagem padrão do Alpine,
# mas se precisar no futuro, definimos aqui.

# --- MESSAGE BROKER (RabbitMQ) ---
RABBITMQ_USER=informar o user do RABBITMQ, ex: supergestao_minio_master
RABBITMQ_PASSWORD=informar a senha do RABBITMQ, ex: supergestao_minio_master

# --- STORAGE DE ARQUIVOS (MinIO) ---
MINIO_USER=informar o user do minio, ex: supergestao_minio_master
MINIO_PASSWORD=informar a senha do minio, ex: supergestao_minio_master

# --- SEGURANÇA (JWT Token) ---
# Chave aleatória de 256-bit (32 chars) ou mais. 
# Importante para assinar os tokens de login.
JWT_SECRET=Chave aleatória de 256-bit (32 chars)