# ==========================================
# CONFIGURAÇÕES DE AMBIENTE (SECREDOS)
# ==========================================

# Banco de Dados PostgreSQL
POSTGRES_DB=informar nome bd
POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha
POSTGRES_PORT=porta

# Autenticação JWT
JWT_SECRET_KEY=chave jwt
JWT_ISSUER=
JWT_AUDIENCE=

# User e senha de login
# A senha atende às regras configuradas no Identity (Maiúscula, Minúscula, Número, Especial)
ADMIN_PASSWORD=informar senha user
ADMIN_EMAIL=email do user
ADMIN_USER=usuario

# diretorio de leitura dos arquivos
DIRETORIO_ARQUIVO=/app/sample_db